.d_todo_main {
        height: 100vh;
    }
    
    .todo_main_container {
        background: #333333;
        padding: 50px 0px;
        border-radius: 15px;
    }
    
    .sub_container {
        width: 60%;
        margin: auto;
    
    }
    
    .todo_form, .d_list{
        background: #444444
    }

    .todo_form label{
        font-size: 15px;
    }


    input:focus{
        outline: none;
    }